.feynman {
    position: relative;
    background-color: #f2f2f2;
    min-height: 790px;
    margin-top: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    top: -60px;
  }